@page "/stars"
@using System.Xml
@using System.ServiceModel
@using System.ServiceModel.Syndication
@using System.Text.Json

<div style="text-align: center; background:radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));">

    <h1>Upcoming Celestial Events</h1>
    <br />

    <h3>Days till full moon: @Moon.FindDaysTillFullMoon()</h3>
    <h3>Planets Visible Today:</h3>
    <p>@FindVisiblePlanets()</p>
    <br />

    @{
        <h3>NASA Solar system RSS feed:</h3>
        <br />

        string url = "https://www.nasa.gov/rss/dyn/solar_system.rss";

        XmlReader reader = XmlReader.Create(url);
        SyndicationFeed feed = SyndicationFeed.Load(reader);
        reader.Close();

        foreach (SyndicationItem item in feed.Items)
        {
            String subject = item.Title.Text;
            String summary = item.Summary.Text;

            <h5>@subject</h5>
            <p>@summary</p>
            <br />
        }
        <br>

        <div style="position: absolute; bottom: 5px;">
            Photo by Lubo Minar on Unsplash
        </div>
    }

</div>

@code {

    public string FindVisiblePlanets()
    {
        string filePath = Path.GetFullPath("Data\\VisiblePlanetsData.json");
        using FileStream openStream = File.OpenRead(filePath);
        DateTime today = DateTime.Today;

        VisiblePlanets[]? planetDates = JsonSerializer.Deserialize<VisiblePlanets[]>(openStream);

        string todaysVisiblePlanets = "|  ";

        if (planetDates != null)
        {
            foreach (VisiblePlanets planet in planetDates)
            {
                planet.ParseDateTime();
                if (today.CompareTo(planet.Start) > 0 && today.CompareTo(planet.End) < 0)
                {
                    todaysVisiblePlanets += planet.Planet + "   |  ";
                }
            }
        }

        return todaysVisiblePlanets;
    }
}

<p role="status">@tomorrowPlanets</p>

<button class="btn btn-primary" @onclick="FindTomorrowPlanets">Find Tomorrow's visible planets</button>

@code {
    private string tomorrowPlanets = "";

    private void FindTomorrowPlanets()
    {
        string filePath = Path.GetFullPath("Data\\VisiblePlanetsData.json");
        using FileStream openStream = File.OpenRead(filePath);
        DateTime tomorrow = DateTime.Today.AddDays(1);

        VisiblePlanets[]? planetDates = JsonSerializer.Deserialize<VisiblePlanets[]>(openStream);

        tomorrowPlanets = $"Visible planets for {tomorrow.ToString("d")}:  ";

        if (planetDates != null)
        {
            foreach (VisiblePlanets planet in planetDates)
            {
                planet.ParseDateTime();
                if (tomorrow.CompareTo(planet.Start) > 0 && tomorrow.CompareTo(planet.End) < 0)
                {
                    tomorrowPlanets += planet.Planet + "   |  ";
                }
            }
        }
    }
}


@*<div style="font-color:blue; background:radial-gradient(rgba(128,128,128) 50%, rgba(0,0,0,0)) 60%;">
    <table class="table table-bordered table-hover table-condensed">
    <thead><tr><th title="Field #1">Planet</th>
    <th title="Field #2">Time</th>
    <th title="Field #3">VisibleDateStart</th>
    <th title="Field #4">VisibleDateEnd</th>
    </tr></thead>
    <tbody><tr>
    <td>Mercury</td>
    <td>Morning</td>
    <td>2/28/2021</td>
    <td>3/20/2021</td>
    </tr>
    <tr>
    <td>Mercury</td>
    <td>Morning</td>
    <td>6/27/2021</td>
    <td>7/16/2021</td>
    </tr>
    <tr>
    <td>Mercury</td>
    <td>Morning</td>
    <td>10/18/2021</td>
    <td>11/1/2021</td>
    </tr>
    <tr>
    <td>Mercury</td>
    <td>Evening</td>
    <td>1/15/2021</td>
    <td>1/31/2021</td>
    </tr>
    <tr>
    <td>Mercury</td>
    <td>Evening</td>
    <td>5/3/2021</td>
    <td>5/24/2021</td>
    </tr>
    <tr>
    <td>Mercury</td>
    <td>Evening</td>
    <td>8/31/2021</td>
    <td>9/21/2021</td>
    </tr>
    <tr>
    <td>Mercury</td>
    <td>Evening</td>
    <td>11/2/2021</td>
    <td>12/31/2021</td>
    </tr>
    <tr>
    <td>Venus</td>
    <td>Morning</td>
    <td>1/1/2021</td>
    <td>1/23/2021</td>
    </tr>
    <tr>
    <td>Venus</td>
    <td>Evening</td>
    <td>5/24/2021</td>
    <td>12/31/2021</td>
    </tr>
    <tr>
    <td>Mars</td>
    <td>Morning</td>
    <td>11/2/2021</td>
    <td>12/31/2021</td>
    </tr>
    <tr>
    <td>Mars</td>
    <td>Evening</td>
    <td>1/1/2021</td>
    <td>8/22/2021</td>
    </tr>
    <tr>
    <td>Jupiter</td>
    <td>Morning</td>
    <td>2/17/2021</td>
    <td>8/19/2021</td>
    </tr>
    <tr>
    <td>Jupiter</td>
    <td>Evening</td>
    <td>1/1/2021</td>
    <td>1/9/2021</td>
    </tr>
    <tr>
    <td>Jupiter</td>
    <td>Evening</td>
    <td>8/20/2021</td>
    <td>12/31/2021</td>
    </tr>
    <tr>
    <td>Saturn</td>
    <td>Morning</td>
    <td>2/10/2021</td>
    <td>8/1/2021</td>
    </tr>
    <tr>
    <td>Saturn</td>
    <td>Evening</td>
    <td>1/1/2021</td>
    <td>1/6/2021</td>
    </tr>
    <tr>
    <td>Saturn</td>
    <td>Evening</td>
    <td>8/1/2021</td>
    <td>8/4/2021</td>
    </tr>
    <tr>
    <td>Uranus</td>
    <td>Morning</td>
    <td>5/16/2021</td>
    <td>11/3/2021</td>
    </tr>
    <tr>
    <td>Uranus</td>
    <td>Evening</td>
    <td>1/1/2021</td>
    <td>4/12/2021</td>
    </tr>
    <tr>
    <td>Uranus</td>
    <td>Evening</td>
    <td>11/4/2021</td>
    <td>12/31/2021</td>
    </tr>
    <tr>
    <td>Neptune</td>
    <td>Morning</td>
    <td>3/27/2021</td>
    <td>9/13/2021</td>
    </tr>
    <tr>
    <td>Neptune</td>
    <td>Evening</td>
    <td>1/1/2021</td>
    <td>2/23/2021</td>
    </tr>
    <tr>
    <td>Neptune</td>
    <td>Evening</td>
    <td>9/14/2021</td>
    <td>12/31/2021</td>
    </tr>
    </tbody></table>
    <br />
    </div>*@